html {
    background-color: aqua;
}

zxing-scanner {
    height: 200px;
    width: 300px;
    border: 2px solid rgb(0, 0, 0);
}

h1 {
    color: rgba(22, 65, 182, 0.486);
}

div.container4 {
    height: 10em;
    position: relative;
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}