<style>
    zxing-scanner {
        height: 200px;
        width: 300px;
        border: 2px solid black;
    }
    
    div {
        top: 10px;
    }
    
    h1 {
        color: green;
    }
    
    body {
        padding: 70px 0;
        align-items: center;
    }
</style>

<h1>{{ title }} </h1>

<h1> Angular works </h1>
<h2> hi</h2>
<div *ngIf="showMyContainer">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
</div>


<div>
    <button (click)="showMyContainer=!showMyContainer">Show/Hide</button>
</div>
<div *ngIf="!showMyContainer">
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{codigoItemHonda}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{quantidade}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{unidadeMedida}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{validade}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{pedido}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{tipo}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{linha}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{notaFiscal}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{dataFabricacao}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{estoque}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{nEtiqueta}}</strong>
    </p>
    <p>
        <strong>Esse é o resultado : &nbsp;</strong>
        <strong> {{showMyContainer}}</strong>
    </p>

</div>